[class*="_box"]{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    margin-bottom: .5rem;
}

.grey_box{
    background-color: grey;
}
.green_box{
    background-color: green;
}